.signIn_fancy {
  background-image: -webkit-radial-gradient(center center, ellipse contain, rgb(50, 50, 50) 0%, rgb(45, 45, 45) 20%, black 100%);
}

.logo {
  margin-top: -1rem;
  font-family: monospace;
  font-size: 3rem;
  color: rgb(150, 150, 150);
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.iOCSS .flex-none {
  -webkit-box-flex: 0 !important;
}

#infoarea {
  color: gray !important;
}

