/*Scheme ID: 3h11Tw0w0w0w0*/

body {
  background-color: #5ccdc9;
}

#logout {
  position:absolute;
  right: 30px;
  top: 20px;
}

.loginEls {
  font-size: 18px;
  padding-left: 10px;
}

#fakeLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#list {
  padding: 25px;
  position: relative;
  width: 400px;
  height: 550px;
  border-style: solid;
  border-width: 1px;
  left: 50px;
  top: 0px;
}