<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="./css/io.css">
  	<link rel="stylesheet" type="text/css" href="./css/assassin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(function (){

        var socket = io.connect('/');
      
        $("#usernamePassword input").on('keypress', function (e){
          if(e.which === 13) { $('#gobutton').click(); }
        });

        $("#gobutton").on('click',function (){
          $.ajax({  
            url:"/login",
            type: "post",
            data: {
              username: $('#username')[0].value.toLowerCase(),
              password: $('#password')[0].value
            },
            success: function(data){
              if (data === 'false'){
                $('#username')[0].value = '';
                $('#password')[0].value = '';
                alert('Incorrect username/password.');
              } else if (data === 'late'){
                $('#username')[0].value = '';
                $('#password')[0].value = '';
                alert('Game already started.');
              } else {
                socket.emit('roomUpdate');
                location.href = '/join';
              }
            }
          });
        });
      });
    </script>
  </head>
  <body class="iOCSS black">
    <div class="frame signIn_fancy">
      <div class="header">
        <h1>Sign In</h1>
        <div class="right">
          <a href="/signup" class="button">Sign Up</a>
        </div>
      </div>
      <div class="scrollable box-vertical box-center-main">
        <div class="logo">Assassins</div>
        <div class="editor flex-none" id="usernamePassword">
          <div class="fields well">
            <div class="field">
              <label for="username">Username</label>
              <input type="text" name="username" id="username">
            </div>
            <div class="field">
              <label for="password">Password</label>
              <input type="password" name="password" id="password">
            </div>
          </div>
        </div>
        <button id="gobutton" class="black large">Sign In</button>
      </div>
    </div>
  </body>
<html>