<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="./css/io.css">
  	<link rel="stylesheet" type="text/css" href="./css/assassin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(function (){

        var socket = io.connect('/');
      
        $("#usernamePassword input").on('keypress', function (e){
          if(e.which === 13) { $('#gobutton').click(); }
        });

        $("#gobutton").on('click',function (){
          $.ajax({  
            url:"/login",
            type: "post",
            data: {
              username: $('#username')[0].value.toLowerCase(),
              password: $('#password')[0].value
            },
            success: function(data){
              if (data === 'false'){
                $('#username')[0].value = '';
                $('#password')[0].value = '';
                alert('Incorrect username/password.');
              } else if (data === 'late'){
                $('#username')[0].value = '';
                $('#password')[0].value = '';
                alert('Game already started.');
              } else {
                socket.emit('roomUpdate');
                location.href = '/join';
              }
            }
          });
        });
      });

    </script>
  </head>
  <body class="iOCSS black">
    <div class="frame signIn_fancy">
      
    </div>
  </body>
<html>